
.alibabtou{
font-style: italic;
font-weight: normal;
text-align: center;
background-color: rgba(0,242,0,0.8);
}

h1 {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

div{
  border-radius: 30px;
  background-color: rgba(247,255,30,1);
}
